
.main
{
  display: flex;
  flex: "flex-wrap";
  
  /* margin-left: -30% */
}
.main div {
  width: 80%;
}
.range{
  margin-left: 30%;
  width: 200%
}
.courses {
  
}
#noOfCourse
{
  /* width: 10%; */
}
#courseUnit
{
  /* width: 30%;  */
}
option
{
  text-align: center;
}
select
{
  width: 70%;
}

.container{
  width: 80%;
  margin: 5% 10%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  height: auto;
}
Body
{
  font-family: Reem Kufi;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: normal;
  text-transform: capitalize;
  color: #6ab445;
  /* background: #87CEFA; */
}
button:hover
{
  float: right;
  margin: 50px;
  background-color:black;
  color: #6ab445;

  border-color: skyblue;
  width: 100px;
  height: 50px;

}
button
{
  float: right;
  margin: 50px;
  background-color: #6ab445;
  color: black;
  border-color: black;
  width: 100px;
  height: 50px;

}
#top
{
    /* padding-left: 50px; */
    /* padding-top: 5px; */
    /* width: 10%; */
    /* height: 20px; */
    /* margin: 1% 30%; */
    /* color: Black; */
     font-size: 25px;
      text-align: center;
    /* background-color:#1CE; */
}


p
{
  /* color: Black; */
  /* background-color:#1CE; */

  margin: 10px;
  text-align: center;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  /* float: left; */

}

#output
{
  color: Black;
  background-color:#1CE;
  padding-top: 5px;
  padding-bottom: 5px;
  height: 20px;
  margin: 10px;
}
